{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<div class="mx-auto">
    <div class="mx-auto text-center bg-dark-subtle p-5 w-25 rounded">
        <h1>Login</h1><br>
        <form method="POST">
            <input type="text" class="form-control form-control-lg" placeholder="Name" name="username"><br>
            <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"><br>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form><br>
        <a class="link-opacity-50-hover" href="{{ url_for('auth.signup') }}">Sign up</a>
    </div>
</div>
{% endblock %}